
<footer class="footer">
    <div class="icons-container">
        <a class="icon" href="mailto:rodrigoagponte@gmail.com"><i class="fas fa-solid fa-envelope"></i></a>
        <a class="icon" href="https://www.instagram.com/rodrigoagponte/"><i class="fab fa-brands fa-instagram"></i></a>
        <a class="icon" href="https://www.linkedin.com/in/rodrigo-ponte-3a58ba196/"><i class="fab fa-brands fa-linkedin-in"></i></a>
        <a class="icon" href="https://github.com/rodrigoagponte"><i class="fab fa-brands fa-github"></i></a>
    </div>
    <p class="footer-text">© Copyright: rodrigoagponte</p>
</footer>
